body{
  background-color: black;
  font-family: helvetica;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 50px;
  text-align: center;
}

.matrix{
  text-align: center;
  font-size: 150px; 
  /*background-color: green;*/
  height: 198px;
  width: 198px;
  display: inline-block;
  /*border: 1px solid gray;*/
  background:url('images/chrome.jpg');
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: center center;
  background-attachment: fixed;

}


#main{
  max-width: 1200px;
  background-image: url('images/square.jpg');
  margin: 0 auto;
  position: relative;
  
}

#board{
  position: relative;
  max-width: 610px;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 6px;
}

.profile {
  position: absolute;
  width: 270px;
  height: 500px;
  margin: 0 auto;
  background-color: rgba(230, 230, 230, 0.5);
  text-align: center;
}

.avatar{
  position:relative;
  margin: 0 auto;


}

#p1-avatar{
  width: 150px;
  height: 150px;
  background:url('images/safari.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  opacity: 0.5;
}

#p2-avatar{
  width: 150px;
  height: 150px;
  background-image: url('images/firefox.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  opacity: 0.5;
}

#player1{
  top: 15px;
  left: 15px;
}

#player2{
  top: 15px;
  right: 15px;

}

button{
  text-align: center;
  font-size: 30px;
  border: none;
  background-color: rgba(100, 180, 250, 0.5);
  position: relative;
  /*width: 200px;*/
}

/*.gameWinner{
  position: absolute;
  top: 100px;
  left: 100px;

}*/
